.add-btn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.add-btn p {
  margin: 0;
  padding-left: 10px;
  cursor: pointer;
}
.list-data {
  display: flex;
}
.list-data div {
  padding: 10px;
}
.list-data mat-icon {
  cursor: pointer;
}
